.workspace {
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.workspace__field {
    margin: 60px;
    width: calc(100% - 120px);
    height: calc(100% - 120px);
    background: #fff;
    position: relative;
    overflow: hidden;
}

.workspace__field--active .workspace-picture{
    pointer-events: none;
}
