
* {
    font-family: 'Poppins', sans-serif;
}

.application,
#root,
body,
html {
    height: 100%;
}

.application {
    background: var(--black-color);
}

.application__row {
    display: flex;
    height: 100%;
}

.application__col {
    height: 100%;
}

.application__col--area {
    width: calc(100% - 400px);
}

.application__sitebar {
    background: var(--gray-color);
    height: 100%;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: rgba(0,0,0,0); /* or add it to the track */
  }
  
*::-webkit-scrollbar-thumb {
      background: var(--primary-color); 
      border-radius: 4px;
}

*::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
}